@{
    ViewData["Title"] = "Sistema Vendas";
}

<div class="row" style="text-align: center;">
    <div class="col-md-2">
        <div>
            <a href="../Cliente/Index">
                <img src="~/img/clientes.png" width="70" height="70" />
            </a>
        </div>
    </div>

    <div class="col-md-2">
        <div>
            <a href="../Categoria/Index">
                <img src="~/img/categorias.png" width="70" height="70" />
            </a>
        </div>
    </div>

    <div class="col-md-2">
        <div>
            <a href="../Produto/Index">
                <img src="~/img/produtos.png" width="70" height="70" />
            </a>
        </div>
    </div>


    <div class="col-md-2">
        <div>
            <a href="../Venda/Index">
                <img src="~/img/vendas.png" width="70" height="70" />
            </a>
        </div>
    </div>

    <div class="col-md-2">
        <div>
            <a href="../Relatorio/grafico">
                <img src="~/img/relatorios.png" width="70" height="70" />
            </a>
        </div>
    </div>

    <div class="col-md-2">
        <div>
            <a href="../Configuracao/Index">
                <img src="~/img/configuracoes.png" width="70" height="70" />
            </a>
        </div>
    </div>

</div>