
/* BASIC */

html {
    background-color: #56baed;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}



/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 70%;
    padding: 20px;
}

.wrapperTip {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px 0 0 0;
    width: 90%;
    max-width: 450px;
    min-width: 300px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
    text-align: center;
}


#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}


.close {
    font-size: 2.5rem;
    color: red;
}
/* TABS */
h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=submit] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: #39ace7;
    }

    input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

input[type=text], input[type=email], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto 20px auto;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

    input[type=text]:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
    }

    input[type=text]:placeholder {
        color: #cccccc;
    }

span {
    display: block;
}


/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fadeIn.first {
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .fadeIn.second {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .fadeIn.third {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .fadeIn.fourth {
        -webkit-animation-delay: 0.5s;
        -moz-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

    .underlineHover:hover:after {
        width: 100%;
    }



/* OTHERS */

*:focus {
    outline: none;
}

#icone {
    height: 3vw;
    width: auto;
    min-height: 40px;
    margin-bottom: 12px;
}
/*CLOSE*/

.close-container {
    position: absolute;
    right: 0px;
    margin-top: -30px;
    cursor: pointer;
    width: 50;
    height: 50px;
}

.leftright {
    height: 4px;
    width: 35px;
    position: absolute;
    margin-top: 24px;
    background-color: #F4A259;
    border-radius: 2px;
    transform: rotate( 45deg );
    transition: all .3s ease-in;
}

.rightleft {
    height: 4px;
    width: 35px;
    position: absolute;
    margin-top: 24px;
    background-color: #F4A259;
    border-radius: 2px;
    transform: rotate( -45deg );
    transition: all .3s ease-in;
}

label {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    opacity: 0;
}

.close {
    margin: 60px 0 0 5px;
    position: absolute;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: #F25C66;
}

.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: #F25C66;
}

.close-container:hover label {
    opacity: 1;
}

.rounded {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 30px;
    contain: content;
    box-shadow: 0 5px 5px 0px #3b90be;
    transition-duration: 0.2s;
    margin-top: 30%;
    margin-bottom: 30%;
    display: flex;
}

    .rounded img {
        max-width: 80%;
        max-height: 100%;
        display: block;
        margin: auto;
    }

    .rounded:hover {
        box-shadow: 0 0px 2px 2px #3b90be;
        transition-duration: 0.3s;
        margin-bottom: 35%;
        margin-top: 35%;
        border-radius: 0;
    }


.iconContainer {
    position: absolute;
    text-align: -webkit-center;
    top: 5%;
    left: 1%;
    display: inline-block;
    box-shadow: 0px 4px 7px 1px #418db6;
    padding: 1%;
    border-radius: 6%;
    z-index: 2;
}


.tip {
    border: solid;
    border-color: white;
    padding: 0 10vh 0 10vh;
    color: white;
    width: 180px;
/*    top: -25px;
    position: relative;*/
}


/*Novo modal*/
.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000;
    visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.55,0,.1,1), visibility 0.6s cubic-bezier(.55,0,.1,1);
    opacity: 0.8;
}

.modal {
    visibility: hidden;
    opacity: 1;
    z-index: 5;
    word-break: break-word;
    text-align: center;
    transition: 1s;
    width: 400px;
}

.active {
    visibility: visible;
    transform: scale(1);
}

.modalText {
    margin: -150px 60px 2% 60px;
    transition: 1s;
}

#modalStackParagraph {
    margin-top: -210;
}

#modalInfoParagraph {
    margin: -190px 60px 2% 80px;
}

.aModal {
    margin: 3%;
    transition: 1s;
}

.imgModal {
    width: 60px;
    transition: 1s;
}

.close-modal {
    position: absolute;
    cursor: pointer;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.55,0,.1,1), transform 0.6s cubic-bezier(.55,0,.1,1);
    transition-delay: 3s;
    transform: translateY(10px);
    opacity: 1;
    width: 25px;
    right: 30px;
    top: -5px;
}

    .close-modal:hover {
        transform: rotate( 90deg );
    }

@media only screen and (min-width: 801px) {
    .modal {
        top: 5%;
        position: fixed;
        left: 8%;
    }
}


@media only screen and ( max-width: 800px) {

    .modal {
        top: 5%;
        position: fixed;
        left: 15%;
    }

    .close-modal {
        right: 30px !important;
    }
}

@media only screen and (max-width: 450px) {

    .modal {
        top: 150px;
        transform: rotate( 90deg );
        margin-left: -70px;
    }

    .close-modal {
        left: 55px;
        top: 0px;
    }

    .rounded {
        margin: 1vh 2vw 1vh 2vw;
    }

        .rounded:hover {
            margin: 1vh 3vw 1vh 3vw;
        }

    .iconContainer {
        display: flex;
        top: 0%;
        left: 25%;
        width: 50%;
        min-width: 150px;
    }

    .aModal {
        transform: rotate( -90deg );
        position: relative;
        top: -55px;
        left: 50px;
    }

    .modalText {
        transform: rotate( -90deg );
        margin: -145px 180px 0% 60px;
    }

    #modalStackParagraph {
        margin: -205px 0 0 0;
    }

    #modalInfoParagraph {
        margin: -213px 94px 4px 85px;
    }

    .tip {
        padding: 0 10vw 0 10vw;
    }
}
